
/*=============================================
=               Media Queries           =
=============================================*/
@media (max-width:1199px){
  .nav-links .nav-next a, .nav-links .nav-previous a{
    max-width: 290px;
  }
  .tags_related_post a img{
    max-width: 188px;
  }
}
@media (max-width:991px)
{
  /*+++++ Home page +++++*/
  /*Slider*/
  .featured-slider .slide-item .slider-image{
    height: 300px;
  }
  .featured-slider .slide-item .slider-desc-wrapper{
    width: 40%;
  }

  .section .media-wrapper{
    margin-bottom: 2em;
  }
  .section{
    padding: 3.5em 2.5em;
  }
  .blog-content{
    margin-bottom: 2rem;
  }
  .promo .promo-btn{
    bottom: -7.4em;
  }

/*+++++ End Home page +++++*/

/*++++Primary Sections++++*/
#primary::before
{
    display: none;
}
.site-main > article::after
{
    content: '';
}
/*++++Secondary Widgets++++*/
#secondary
{
    border-top: 1px solid #e2e2e2;
    border-top: 1px solid rgba(0,0,0,.1);
}
#secondary.widget-area .widget
{
    float: left;

    width: 33.33333%;
    padding: 1em 1.5em;
}

#primary.pull-right{
  float: none!important;
}

/*++++Single Articles++++*/
.single .entry-header
{
    margin: 0 0 2em;
}
.tags_related_post a img{
  max-width: 193px;
}
}
@media (max-width:800px){
  .featured-slider .slide-item .slider-desc-wrapper{
    width: 40%;
  }
  #secondary.widget-area .widget{
    width: 50%;
  }
}
@media (min-width: 768px){
  .main-site-nav{
    margin-right: 0!important;
  }
}
@media (max-width:768px){
  /*+++++Header+++++*/
  body{overflow-x: hidden;}
  .mobrand
  {
    float: none;
    width: 100%;
    text-align: center;
  }

  /*Secondary*/
  #secondary {
    position: relative;
    min-height: auto;
  }
  /*Single Posts*/
  [class*='navigation'] .nav-next,
  [class*='navigation'] .nav-previous{
    width: 100%;
    text-align: center;
  }
  .nav-links .nav-next a, .nav-links .nav-previous a{
    max-width: 100%;
  }
  .nav-previous, .nav-next{
    border: 1px solid #e2e2e2;
  }
   .nav-next{
    border-top: 0;
  }
  .tags_related_post{
    margin-bottom: 2em;
  }
  .tags_related_post a img{
    max-width: 100%;
  }
  .mob-center{
    width: 100%;
    text-align: center;
    float: none!important;
  }
}
@media (max-width:767px){
  .site-branding{
    margin-left: 15px;
  }
  #site-navigation{
    padding-left: 0;
    padding-right: 0;
  }
  #site-navigation .navbar-header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .cpm-mobile #navbar-collapse-main > ul > li{
    padding: 1% 0;
  }
  .navbar-toggle {
    display: block;
    float: right;
  }
  .navbar-nav > li.dropdown > .dropdown-menu:before{
    display: none;
  }
  .navbar .navbar-nav > li > a{
    margin: 0;
  }
  #navbar-collapse-main
  {
      float: none;
      width: 100%;
      margin: 0;
  }
  #navbar-collapse-main .navbar-nav{
    margin: 0;
    width: 100%;
    padding: 1.5em 0;
  }
  #navbar-collapse-main .navbar .navbar-nav > li > a{
    margin: 0;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #navbar-collapse-main .navbar .navbar-nav > li > a .caret{
    float: right;
  }
  .navbar-nav .dropdown-menu li a{
    padding: 15px 20px;
  }
}
@media (max-width: 600px){
  #primary {
    position: relative;
    padding: 3em 2em 0 2em;
  }
  #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
    width: 100%;
  }

}
@media (max-width:650px)
{
  /*+++++Slider+++++*/
  .featured-slider .slide-item .slider-desc-wrapper{
    width: 45%;
  }
  .featured-slider .slider-desc-wrapper .slider-desc p{
    display: none;
  }
  .featured-slider .slider-desc-wrapper .slider-desc .pillbtn{
    padding: .7em 1em;
  }

}
@media (max-width:550px){
  /*+++++Slider+++++*/
  .featured-slider .slide-item .slider-desc-wrapper{
    width: 45%;
  }
  .format-video .media-wrap, .format-audio .media-wrap {
    min-width: 380px;
  }
}
@media (max-width: 500px){
  .format-video .media-wrap, .format-audio .media-wrap {
    min-width: 360px;
  }
}
@media (max-width:480px)
{
  /*+++++Slider+++++*/
  .featured-slider .slide-item .slider-desc-wrapper{
    width: 100%;
    bottom: 0;
    top: auto;
    height: auto;
    padding: 2.3rem 0 2rem;
  }
  .featured-slider .slider-desc-wrapper .slider-desc .pillbtn, .featured-slider .slick-dots{
    display: none!important;
  }
  .featured-slider .slider-desc-wrapper .slider-desc h1{
    margin-bottom: 0;
  }
  #secondary.widget-area .widget{
    width: 100%;
  }
  .format-video .media-wrap,
  .format-audio .media-wrap
  {
      min-width: 300px;
  }
}
@media (max-width:440px){
  .format-video .media-wrap,
  .format-audio .media-wrap{
    min-width: 250px;
  }
}
@media (max-width:400px){
  .format-video .media-wrap,
  .format-audio .media-wrap{
    min-width: 230px;
  }
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-90%, 0);
    -ms-transform: translate(-90%, 0);
    transform: translate(-90%, 0);
  }
}
@media (max-width:360px){
  .format-video .media-wrap,
  .format-audio .media-wrap{
    min-width: 220px;
  }
  .site-branding {
      margin-left: 0px;
  }
}
@media (max-width:300px){
  .format-video .media-wrap,
  .format-audio .media-wrap{
    min-width: 200px;
  }
}

/*-----  End of Media Queries  ------*/

/* ==========================================================================
   Print styles - Inherited from html5 boilerplate
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}